<!DOCTYPE html>
<html>
	<head>
		<title>2018 Harris County Flood Bonds | Houston Chronicle</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- Social meta tags -->
		<meta name="description" content="Explore the Harris County flood bond projects in your neighborhood.">
		<meta name="keywords" content="Harris County, flooding, flood bonds, bonds, flood infrastructure, floods, Harvey, Hurricane Harvey, Houston, Texas, Houston flooding, Harvey flooding, Harris County infrastructure, 2018 flood bond votes">
		<meta name="author" content="Houston Chronicle">
		<meta property="og:type" content="2018 Harris County Flood Bonds | Houston Chronicle">
		<meta property="og:title" content="Harris County's $2.5 billion flood bond: Search the projects in your neighborhood">
		<meta property="og:site_name" content="Houston Chronicle">
		<meta property="og:url" content="https://projects.houstonchronicle.com/flooding/2018-harvey-bonds/">
		<meta property="og:image" content="https://s.hdnux.com/photos/75/22/02/16064685/4/rawImage.jpg">
		<meta property="og:description" content="Explore the Harris County flood bond projects in your neighborhood.">
		<!-- Twitter card meta info -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Harris County's $2.5 billion flood bond: Search the projects in your neighborhood">
		<meta name="twitter:site" content="@HoustonChron">
		<meta name="twitter:creator" content="@HoustonChron" />
		<meta name="twitter:url" content="https://projects.houstonchronicle.com/flooding/2018-harvey-bonds/">
		<meta name="twitter:image" content="https://s.hdnux.com/photos/75/22/02/16064685/4/rawImage.jpg">
		<meta name="twitter:description" content="Explore the Harris County flood bond projects in your neighborhood.">
		<!-- Font Aerdomr icons-->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<!-- Bootstrap core CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!--load font awesome-->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!--AngularJS-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<!--Custom styles-->
		<link rel='stylesheet' href="css/styles.css">
		<link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
		<!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
		<script type="text/javascript">
		// Prototype data layer for Houston Top 100 Restaurants

		var HDN = HDN || {};

		HDN.dataLayer = HDN.dataLayer || {};


		// HDN.dataLayer object for content metadata
		HDN.dataLayer = HDN.dataLayer.content || {};

		HDN.dataLayer.content.title = "2018 Harris County Flood Bonds";//Title of project
		HDN.dataLayer.content.subtitle = "";
		HDN.dataLayer.content.objectId = "00000";
		HDN.dataLayer.content.objectType = "channel";
		HDN.dataLayer.content.sectionPath = ['local'];//array of section paths
		HDN.dataLayer.content.pubDate = "2018-10-01 16:00:00";//Date with time here
		HDN.dataLayer.content.lastModifiedDate = "2019-11-18 14:46:24";//Date with time here
		HDN.dataLayer.content.wordCount = 0;
		HDN.dataLayer.content.keywords = [];
		HDN.dataLayer.content.keySubjects = [];
		HDN.dataLayer.content.keyCategoryTags = [];
		HDN.dataLayer.content.keyPersons = [];
		HDN.dataLayer.content.keyOrganizations = [];
		HDN.dataLayer.content.keyConcepts = [];
		HDN.dataLayer.content.keyCategories = [];
		HDN.dataLayer.content.keyPlaces = [];
		HDN.dataLayer.content.keyNlpCategories = [];
		HDN.dataLayer.content.keyNlpPerson = [];
		HDN.dataLayer.content.keyNlpLocation = [];
		HDN.dataLayer.content.keyNlpOrganization = [];
		HDN.dataLayer.content.keyNlpEvent = [];
		HDN.dataLayer.content.keyNlpWorkOfArt = [];
		HDN.dataLayer.content.keyNlpConsumerGood = [];
		HDN.dataLayer.content.keyNlpOther = [];
		HDN.dataLayer.content.keyNlpUnknown = [];
		HDN.dataLayer.content.displayTemplate = "";

		// HDN.dataLayer object for source information
		HDN.dataLayer.source = HDN.dataLayer.source || {};

		HDN.dataLayer.source.authorName = "Jordan Rubio, Rachael Gleason, Zach Despart";//Author name here
		HDN.dataLayer.source.authorTitle = "Houston Chronicle Staff";
		HDN.dataLayer.source.originalSourceSite = "";
		HDN.dataLayer.source.publishingSite = "premiumchron";
		HDN.dataLayer.source.sourceSite = "premiumchron";

		// HDN.dataLayer object for sharing information
		HDN.dataLayer.sharing = HDN.dataLayer.sharing || {};

		HDN.dataLayer.sharing.openGraphUrl = "https://projects.houstonchronicle.com/flooding/2018-harvey-bonds/";
		HDN.dataLayer.sharing.openGraphType = "article";

		// HDN.dataLayer object for page/URL information
		HDN.dataLayer.href = HDN.dataLayer.href || {};
		HDN.dataLayer.href.pageUrl = "https://projects.houstonchronicle.com/flooding/2018-harvey-bonds/";//Page URL
		HDN.dataLayer.href.canonicalUrl = "https://projects.houstonchronicle.com/flooding/2018-harvey-bonds/";//Page URL
		HDN.dataLayer.href.pageUrlPath = window.location.pathname;
		HDN.dataLayer.href.pageUrlPathFolders = window.location.pathname.replace(/[A-Za-z0-9-_.]+$/, '');
		HDN.dataLayer.href.pageUrlQueryParams = window.location.search.replace(/^\?/, '');
		HDN.dataLayer.href.pageUrlHash = window.location.hash;

		// HDN.dataLayer object for site
		HDN.dataLayer.site = HDN.dataLayer.site || {};

		HDN.dataLayer.site.commentSiteKey: "sp_NxITuoE4";
		HDN.dataLayer.site.commentsType: "spotim";
		HDN.dataLayer.site.cookieDomain: ".houstonchronicle.com";
		HDN.dataLayer.site.domain: "houstonchronicle.com";
		HDN.dataLayer.site.domainRoot: "houstonchronicle";
		HDN.dataLayer.site.name: "premiumchron";
		HDN.dataLayer.site.property: "HC";
		HDN.dataLayer.site.siteId: "33";
		HDN.dataLayer.site.timeZone: "Central";

		// HDN.dataLayer object for presentation information
		HDN.dataLayer.presentation = HDN.dataLayer.presentation || {};

		HDN.dataLayer.presentation.hasSlideshow = false;
		HDN.dataLayer.presentation.hasSlideshowListView = false;
		HDN.dataLayer.presentation.hasVideo = false;
		HDN.dataLayer.presentation.hasInteractive = false;

		// HDN.dataLayer object for paywall information
		HDN.dataLayer.paywall = HDN.dataLayer.paywall || {};

		HDN.dataLayer.paywall.premiumStatus = "free";
		HDN.dataLayer.paywall.premiumEndDate = "";
		HDN.dataLayer.paywall.policy = "";

		</script>

		<script src="https://treg.hearstnp.com/treg.js"></script>
		<script src="https://nexus.ensighten.com/hearst/news/Bootstrap.js"></script>
		<script src="https://cdn.blueconic.net/hearst.js"></script>
	</head>
	<body ng-app="myApp">
		<!--Share modal-->
		<div class="modal fade share-modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header"> <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
						<h4 class="modal-title" id="myLargeModalLabel">SHARE</h4>
					</div>
					<div class="modal-body">
						<p><a href=http://www.facebook.com/dialog/feed?app_id=653292111352579&amp;link=https%3A%2F%2Fprojects.houstonchronicle.com%2Fflooding%2F2018-harvey-bonds&amp;description=Explore%20the%20bond%20infrastructure%20projects%20in%20your%20neighborhood%20by%20searching%20for%20your%20ZIP%20code%20or%20watershed.&amp;picture=https%3A%2F%2Fs.hdnux.com%2Fphotos%2F75%2F22%2F02%2F16064685%2F4%2FrawImage.jpg&amp;name=Harris%20County's%20%242.5%20billion%20flood%20bond%3A%20Search%20the%20projects%20in%20your%20neighborhood target="_blank"><i class="fa fa-facebook"></i>Facebook</a></p>
						<p><a class="twitter" href="https://twitter.com/intent/tweet?text=Harris County's $2.5 billion flood bond: Search the projects in your neighborhood https://projects.houstonchronicle.com/flooding/2018-harvey-bonds/" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></p>
						<p><a href="mailto:?subject=Explore Harris County's $2.5 billion flood bond projects&body=Search the flood bond projects in your neighborhood: https://projects.houstonchronicle.com/flooding/2018-harvey-bonds/"><i class="fa fa-envelope"></i>Email</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- Navbar -->
		<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="https://www.houstonchronicle.com/"><img src="images/logo.png" class="img-responsive"/></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse auto">
		<ul class="nav navbar-nav">
			<li><a href="https://www.houstonchronicle.com/local/hc-investigations/harvey/one-year-later/">Project home</a></li>
			<li><a href="/flooding/2018-harvey-bonds">Search flood bonds</a></li>
			<li><a href="/flooding/2018-harvey-bonds/insights">Insights</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Deeper dive<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/In-Houston-and-beyond-Harvey-s-spills-leave-a-12771237.php">Silent Spills</a></li>
					<li><a href="https://www.houstonchronicle.com/local/hurricane-guide/harvey-51inches/">51 Inches</a></li>
					<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/Lost-in-Cypress-Creek-12185913.php">Lost in Cypress Creek</a></li>
					<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/The-Gun-Hunters-of-Harvey-Tracking-weapons-12434134.php">Gun Hunters of Harvey</a></li>
					<li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/Force-of-raging-waters-carries-away-home-but-not-12175611.php">A home lost, but not hope</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Special sections<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="https://www.houstonchronicle.com/local/hc-investigations/harvey/beforeandafter/">Before &amp; after</a></li>
					<li><a href="https://www.houstonchronicle.com/local/hc-investigations/harvey/vignettes/">Stories from the storm</a></li>
					<li><a href="https://www.houstonchronicle.com/local/hc-investigations/harvey/deaths/">Those we lost</a></li>
					<li><a href="https://www.houstonchronicle.com/local/hc-investigations/harvey/resources/">Recovery &amp; Resources</a></li>
					<li><a href="https://www.houstonchronicle.com/swamped">Swamped</a></li>
				</ul>
			</li>
	        <li><a href="https://www.facebook.com/groups/HoustonAfterHarvey/" target="_blank">Get involved</a></li>
			<li><a href="http://www.houstonchronicle.com/subscribenow" target="_blank">Subscribe</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" data-toggle="modal" data-target=".share-modal">Share <i class="fa fa-share"></i></a></li>
		</ul>
		</div><!--/.nav-collapse -->
		</div>
		</nav>
		<!--Intro text-->
		<div ng-controller="MyCtrl">
			<div ng-hide="locations" id="main">
				<div class="container">
					<div class="col-md-10 col-md-offset-1">
						<div class="intro">
							<h1>Harris County's $2.5 billion flood bond:</h1>
							<h1>Search the projects in your neighborhood</h1>
							<p>By <a href="https://www.houstonchronicle.com/author/jordan-rubio/">Jordan Rubio</a>, <a href="https://www.houstonchronicle.com/author/rachael-gleason/">Rachael Gleason</a> and <a href="https://twitter.com/zachdespart" target="_blank">Zach Despart</a></p>
						</div>
						<img class="img-responsive" src="images/banner.jpg">
						<div class="prologue col-md-10 col-md-offset-1">
							<p>Harris County voters approved the county flood bond on Saturday, Aug. 25. In addition to the $2.5 billion in the flood bond, the county will also have access to as much as $2 billion in federal matching funds. To read more about how the flood bond affects you, <a href="https://www.houstonchronicle.com/news/houston-weather/hurricaneharvey/article/Harris-County-voters-pass-2-5-billion-flood-bond-13182842.php">click here</a>.</p>
							<p id="invitation"><strong>Explore the bond infrastructure projects in your neighborhood by searching for your ZIP code or watershed below.</strong></p>
						</div>
					</div>
				</div>
				<!--Search bars-->
				<div id="bonds">
					<div class="container">
						<!--ZIP code search bar-->
						<div class="searchzips col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
							<h2 class="interactive-header">Search by ZIP code</h2>
							<form class="form-inline">
								<input class="input-special" ng-model="floodBonds" type="text" placeholder="Search by ZIP" ng-model-options="{ updateOn: 'blur', debounce: {
	  'blur': 2500 } }" ng-change="onChange()" onchange="eventSearch()">
							</form>
						</div><!--End ZIP code search bar-->
						<!--Watershed select filter-->
						<div class="selectsheds col-md-5 col-sm-5">
							<h2 class="interactive-header">Search by watershed</h2>
							<select onchange="selectEvent()" ng-model="allWatersheds" ng-options="watershed.watershed for watershed in bondWatersheds" ng-change="setWatershed()">
								<option value=''>Search by watershed</option>
							</select>
						</div><!--End watershed select filter-->
					</div>
				</div>
				<!--ZIP code results-->
				<div class="results ng-hide" ng-show="floodBonds">
					<div ng-repeat="zip in bondZips | filter : floodBonds">
						<div class="container">
			              	<div class="col-md-12">
			              		<h2 class="interactive-header">{{zip.zip}} at a glance</h2>
			              	</div>
			              	<div class="col-md-6">
			              		<p>Total number of projects for watersheds in this ZIP code: <strong>{{zip.projects}}</strong></p>
			              		<p>Total amount of proposed money: <strong>{{zip.totalsum}}</strong></p>
			              		<p ng-hide="!(zip.fulladdress).length">Voting location: <strong>{{zip.fulladdress}}</strong></p>
			              		<p>Watersheds in {{zip.zip}}:</p>
			              		<div ng-repeat="watershed in bondWatersheds | filter : {zipGroup:zip.zip}">
				              		<p class="related"><strong>{{watershed.watershed}}</strong></p>
				              		<ul class="stories">
				              			<li><a href="{{watershed.oneLink}}" target="_blank">{{watershed.storyOne}}</a></li>
				              			<li><a href="{{watershed.twoLink}}" target="_blank">{{watershed.storyTwo}}</a></li>
				              			<li><a href="{{watershed.threeLink}}" target="_blank">{{watershed.storyThree}}</a></li>
				              		</ul>
			              		</div>
			              	</div>
			              	<div class="col-md-6">
		              			<a href="https://chronpremium.carto.com/builder/9ab3b67e-bf49-4f3d-a5f0-2779a6ab779e/embed" target="_blank"><img class="img-responsive" src="images/bondprojects.jpg"></a>
		              			<div class="caption">Click on the image to see a searchable map of the proposed flood bond projects.</div>
							</div>
							<div class="col-md-12">
								<div class="container">
									<div class="col-md-6">
					              		<button onclick="zipProjects()" type="button" ng-model="proyectos" class="btn btn-default btn-lg btn-block" ng-click="proyectos = !proyectos ; breakdown = false">
											<span ng-hide="proyectos">Show detailed list of projects</span>
											<span ng-show="proyectos">Hide detailed list of projects</span>
										</button>
			          				</div>
			          				<div class="col-md-6">
										<button onclick="zipDetails()" type="button" ng-model="breakdown" class="btn btn-default btn-lg btn-block" ng-click="breakdown = !breakdown ; proyectos = false">
					              			<span ng-hide="breakdown">Show types, costs of projects</span>
											<span ng-show="breakdown">Hide types, costs of projects</span>
					              		</button>
			          				</div>
			          			</div>
			              		<div class="moredetails ng-hide" ng-show="breakdown">
			              			<div class="container">
				              			<div class="col-md-5 col-sm-6">
				              				<div class="pdetails">
					              				<div class="component">
							              			<h3>Projects</h3>
							              			<p>This is a breakdown of the types of the proposed flood bond projects that affect this watershed.</p>
							              		</div>
												<div class="component">
													<p><strong>Total buyout projects:</strong> {{zip.buyout}} </p>
													<p>Buying flood-prone properties from willing sellers in areas that are located too deep in the floodplain for flood risk reduction projects to help out.</p>
												</div>
												<div class="component">
													<p><strong>Total community input projects:</strong> {{zip.input}}</p>
													<p>These projects are suggested by community members, sometimes during community engagement meetings.</p>
												</div>
												<div class="component">
													<p><strong>Total local projects:</strong> {{zip.local}}</p>
													<p>These are projects that are solely funded through the Harris County Flood Control District.</p>
												</div>
												<div class="component">
													<p><strong>Total partnership projects:</strong> {{zip.partnership}}</p>
													<p>Projects funded using a combination of Harris County Flood Control District funding and funds from other local, state, or federal sources.</p>
												</div>
												<div class="component">
													<p><strong>Total storm repair projects:</strong> {{zip.stormRepair}}</p>
													<p>These projects repair storm channels and stormwater detention basins.</p>
												</div>
												<div class="component">
													<p><strong>Total subdivision drainage improvement projects:</strong> {{zip.subdivision}}</p>
													<p>These projects, done in partnership with a Municipal Utility District and the Harris County Engineering Departnment, improve drainage in subdivisions in unincorporated parts of Harris County.</p>
												</div>
											</div>
										</div>
										<div class="col-md-5 col-md-push-1 col-sm-6">
											<div class="cdetails">
												<div class="component">
													<h3>Costs</h3>
													<p>This is a breakdown of the costs of the proposed flood bond projects that affect watersheds in this ZIP code.</p>
												</div>
												<div class="component">
													<p><strong>Local only:</strong> {{zip.localsum}}</p>
													<p>This is the total cost of all local projects. Local projects would be funded entirely through the flood bonds, if voters approve it.</p>
												</div>
												<div class="component">
													<p><strong>Grant total:</strong> {{zip.grantsum}}</p>
													<p>The total amount for all grant projects. An individual grant is the sum of the partner share and the local match.</p>
												</div>
												<div class="component">
													<p><strong>Partner share total:</strong> {{zip.partnersum}}</p>
													<p>How much a partner agency/government contributed to the grant.</p>
												</div>
												<div class="component">
													<p><strong>Local share total:</strong> {{zip.matchsum}}</p>
													<p>How much the local government contributed to the grant.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--Watershed results-->
						<div class="ng-hide" ng-show="proyectos" ng-repeat="zip in bondZips | filter : zip.zip">
							<div class="container">
								<div class="col-md-12">
						            <!--Results table-->
						            <h2 class="interactive-header">Projects for watersheds in {{zip.zip}}</h2>
						             <p>There are two kinds of projects. A project is either a grant project or a local project.</p>
						            <p>Grant projects, listed in the "Grant total" column, are funded through a combination of partner agencies and the Harris County Flood Control District. The grant total is the sum of the "Partner agency share" and "Harris County share."</p>
						            <p>Local projects, listed in the "Harris County total" column, are funded entirely by the county government.</p>
						            <table class="zipsonly">
						            	<tr>
						            		<th>Project title</th>
						            		<th>Watershed</th>
						            		<th>Project type</th>
						            		<th>Harris County Precinct</th>
						            		<th>Partner agency share</th>
						            		<th>Harris County share</th>
						            		<th class="grant" ng-click="setOriginalOrder('grant') ; switch = !switch">Grant total <i class="fa fa-caret-down"></i></th>
						            		<th class="local" ng-click="setOriginalOrder('local'); switch2 = !switch2">Harris County total <i class="fa fa-caret-down"></i></th>
						            		<th>Benefits</th>
						            	</tr>
						            	<tr ng-repeat="project in projects | filter: zip.zip | orderBy: originalOrder">
						            		<td class="first">{{project.title}}</td>
						            		<td>{{project.watershed}}</td>
						            		<td>{{project.type}}</td>
						            		<td>{{project.precinct}}</td>
						            		<td>{{project.partner | currency:undefined:0}}</td>
						            		<td>{{project.match | currency:undefined:0}}</td>
						            		<td class="grant">{{project.grant | currency:undefined:0}}</td>
						            		<td class="local">{{project.local | currency:undefined:0}}</td>
						            		<td>{{project.benefits}}</td>
						            	</tr>
						            </table><!--End results table-->
						        </div>
					    	</div>
						</div>
					</div>
					<div class="ng-hide container" ng-show="!(bondZips| filter : floodBonds).length">
						<div class="col-md-12">
							<h2 id="noproject" class="interactive-header">No projects for this ZIP code</h2>
						</div>
					</div>
				</div><!--End ZIP code results-->
				<!--Watershed select results-->
				<div class="results ng-hide" ng-show="allWatersheds">
					<div ng-repeat="watershed in bondWatersheds | filter:allWatersheds | orderBy : 'watershed'">
						<div class="container">
		              		<h2 class="interactive-header">{{watershed.watershed}}</h2>
		              		<p>{{watershed.summary}} -<em>Harris County Flood Control District</em></p>
		              		<div class="col-md-6">
			              		<p>Total number of projects for this watershed: <strong>{{watershed.projects}}</strong></p>
			              		<p>Total amount of proposed money: <strong>{{watershed.totalsum}}</strong></p>
			              		<p class="related">Related coverage:</p>
			              		<ul class="stories">
			              			<li><a href="{{watershed.oneLink}}" target="_blank">{{watershed.storyOne}}</a></li>
			              			<li><a href="{{watershed.twoLink}}" target="_blank">{{watershed.storyTwo}}</a></li>
			              			<li><a href="{{watershed.threeLink}}" target="_blank">{{watershed.storyThree}}</a></li>
			              		</ul>
			              	</div>
			              	<div class="col-md-6">
		              			<a href="https://chronpremium.carto.com/builder/9ab3b67e-bf49-4f3d-a5f0-2779a6ab779e/embed" target="_blank"><img class="img-responsive" src="images/bondprojects.jpg"></a>
		              			<div class="caption">Click on the image to see a searchable map of the proposed flood bond projects.</div>
							</div>
							<div class="col-md-12">
								<div class="container">
									<div class="col-md-6">
					              		<button onclick="shedProjects()" type="button" ng-model="proyectos" class="btn btn-default btn-lg btn-block" ng-click="proyectos = !proyectos ; breakdown = false">
											<span ng-hide="proyectos">Show detailed list of projects</span>
											<span ng-show="proyectos">Hide detailed list of projects</span>
										</button>
			          				</div>
			          				<div class="col-md-6">
										<button onclick="shedDetails()" type="button" ng-model="breakdown" class="btn btn-default btn-lg btn-block" ng-click="breakdown = !breakdown ; proyectos = false">
					              			<span ng-hide="breakdown">Show types, costs of projects</span>
											<span ng-show="breakdown">Hide types, costs of projects</span>
					              		</button>
			          				</div>
			          			</div>
			              		<div class="moredetails ng-hide" ng-show="breakdown">
			              			<div class="container">
				              			<div class="col-md-5 col-sm-6">
				              				<div class="pdetails">
					              				<div class="component">
							              			<h3>Projects</h3>
							              			<p>This is a breakdown of the types of the proposed flood bond projects that affect this watershed.</p>
							              		</div>
												<div class="component">
													<p><strong>Total buyout projects:</strong> {{watershed.buyout}} </p>
													<p>Buying flood-prone properties from willing sellers in areas that are located too deep in the floodplain for flood risk reduction projects to help out.</p>
												</div>
												<div class="component">
													<p><strong>Total community input projects:</strong> {{watershed.input}}</p>
													<p>These projects are suggested by community members, sometimes during community engagement meetings.</p>
												</div>
												<div class="component">
													<p><strong>Total local projects:</strong> {{watershed.local}}</p>
													<p>These are projects that are solely funded through the Harris County Flood Control District.</p>
												</div>
												<div class="component">
													<p><strong>Total partnership projects:</strong> {{watershed.partnership}}</p>
													<p>Projects funded using a combination of Harris County Flood Control District funding and funds from other local, state, or federal sources.</p>
												</div>
												<div class="component">
													<p><strong>Total storm repair projects:</strong> {{watershed.stormRepair}}</p>
													<p>These projects repair storm channels and stormwater detention basins.</p>
												</div>
												<div class="component">
													<p><strong>Total subdivision drainage improvement projects:</strong> {{watershed.subdivision}}</p>
													<p>These projects, done in partnership with a Municipal Utility District and the Harris County Engineering Departnment, improve drainage in subdivisions in unincorporated parts of Harris County.</p>
												</div>
											</div>
										</div>
										<div class="col-md-5 col-md-push-1 col-sm-6">
											<div class="cdetails">
												<div class="component">
													<h3>Costs</h3>
													<p>This is a breakdown of the costs of the proposed flood bond projects that affect this watershed.</p>
												</div>
												<div class="component">
													<p><strong>Local only:</strong> {{watershed.localsum}}</p>
													<p>This is the total cost of all local projects. Local projects would be funded entirely through the flood bonds, if voters approve it.</p>
												</div>
												<div class="component">
													<p><strong>Grant total:</strong> {{watershed.grantsum}}</p>
													<p>The total amount for all grant projects. An individual grant is the sum of the partner share and the local match.</p>
												</div>
												<div class="component">
													<p><strong>Partner share total:</strong> {{watershed.partnersum}}</p>
													<p>How much a partner agency/government contributed to the grant.</p>
												</div>
												<div class="component">
													<p><strong>Local share total:</strong> {{watershed.matchsum}}</p>
													<p>How much the local government contributed to the grant.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
			            </div>
			            <!--Results table-->
			            <div class="ng-hide" ng-show="proyectos">
				            <div class="container">
								<div class="col-md-12">
						            <h2 class="interactive-header">Projects for {{watershed.watershed}}</h2>
						            <p>There are two kinds of projects. A project is either a grant project or a local project.</p>
						            <p>Grant projects, listed in the "Grant total" column, are funded through a combination of partner agencies and the Harris County Flood Control District. The grant total is the sum of the "Partner agency share" and "Harris County share."</p>
						            <p>Local projects, listed in the "Harris County total" column, are funded entirely by the county government.</p>
						            <table class="shedsonly">
						            	<tr>
						            		<th>Project title</th>
						            		<th>Project type</th>
						            		<th>Harris County Precinct</th>
						            		<th>Partner agency share</th>
						            		<th>Harris County share</th>
						            		<th class="grant" ng-click="setOriginalOrder('grant') ; switch = !switch">Grant total <i class="fa fa-caret-down"></i></th>
						            		<th class="local" ng-click="setOriginalOrder('local'); switch2 = !switch2">Harris County total <i class="fa fa-caret-down"></i>
						            		<th>Benefits</th>
						            	</tr>
						            	<tr ng-repeat="project in projects | filter: watershed.watershed | orderBy: originalOrder">
						            		<td class="first">{{project.title}}</td>
						            		<td>{{project.type}}</td>
						            		<td>{{project.precinct}}</td>
						            		<td>{{project.partner | currency:undefined:0}}</td>
						            		<td>{{project.match | currency:undefined:0}}</td>
						            		<td class="grant">{{project.grant | currency:undefined:0}}</td>
						            		<td class="local">{{project.local | currency:undefined:0}}</td>
						            		<td>{{project.benefits}}</td>
						            	</tr>
						            </table><!--End results table-->
						        </div>
						    </div>
						</div>
	             	</div>
				</div><!--End watershed select results-->
			</div>
		</div><!--End app-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="js/scripts.js"></script>
		<script src="js/floodbonds.js"></script>
	</body>
</html>